.base_container{
    width: 100%;
    position:absolute;
    top:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: baseline;
  
    .array-bars{
        width: 10px;
        margin:0px 2px 0px 2px;
        justify-content: center;
        align-items: center;
        background-color:gray;
        border-radius: 2px solid black;
    }
}
.main{
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
